<% title "Create your design" %>
<% description "Write something awesome and see your design in the iconic Supreme box logo style." %>
<% set_meta_tags og: {
  image: {
    _: asset_url("mockup-generator.jpg"),
    alt: "Supreme style white t-shirt with \"Rosebud.\""
  }
} %>

<div class="container">
  <h1 class="page-title">Create your design</h1>
  <div class="row">
    <div class="col-md-8 col-lg-6 mx-auto">
    <div class="card p-3">
    <%= react_component("DesignForm", { action: design_path, initialText: @text }) %>
    </div></div>
  </div>
  <div id="fake-designs">
    <%= react_component("FakeDesigns", { count: 25 }) %>
  </div>
</div>
