<% title "Create your design" %>
<% description "Write something awesome and see your design in the iconic Supreme box logo style." %>
<% set_meta_tags og: {
  image: {
    _: asset_url("mockup-generator.jpg"),
    alt: "Supreme style white t-shirt with \"Rosebud.\""
  }
} %>

<div class="container">
  <h1 class="page-title">Create your design</h1>
  <div class="row">
    <div class="col-lg-8">
    <h3>Write something awesome!</h3>
    <%= react_component("DesignForm", { action: design_path, initialText: @text }) %>
    </div>
    <div class="col-lg-4 order-lg-first mt-5 mt-lg-0">
      <%= image_tag("mockup-generator.jpg", :alt => "Supreme style white t-shirt", class:"align-middle" ) %>
    </div>
  </div>
  <div id="fake-designs">
    <%= react_component("FakeDesigns", { count: 25 }) %>
  </div>
</div>
