<div class="container">
    <div class="row" id="mockup-generator">
      <div class="col-sm-12" id="generator-title">
        <h1>Supermeme generator</h1>
      </div>
      <div class="col-sm-6">
        <%= image_tag("mockup-generator.jpg", :alt => "supermeme mockup generator", :class => "logo" ) %>
      </div>
      <div class="col-sm-6" id="generator-input">
        <h4>Write something awesome!</h4>
        <%= form_tag design_path do %>
          <%= text_field_tag(:text, "", :placeholder => "Your text here", :id => "text-field", :class => "form-control form-control-lg") %>
          <%= submit_tag("Meme it", :class => "btn btn-primary") %>
        <% end %>
      </div>
  </div>
</div>
