<% title "Cart" %>

<div class="container">
  <p class="small text-center step">Step 3 of 4</p>
  <h1 class="page-title">Review your shopping cart</h1>
  <% if cart.empty? %>
    <div class="alert alert-warning" role="alert">
      Your Shopping Cart is empty.
    </div>
    <%= link_to "Create a design", new_design_path, class: "btn btn-supreme"%>
  <% else %>
    <div id="cart-form">
      <%= render "cart/form", cart: cart %>
    </div>

    <hr />

    <div class="row justify-content-end">
      <div class="col-md-4 col-lg-2">
        <%= link_to "Checkout", checkout_path, class: 'btn btn-lg btn-supreme btn-block' %>
      </div>
    </div>
  <% end %>
</div>
