<div class="container">
  <% if cart.empty? %>
    Your Shopping Cart is empty.
  <% else %>
    <div id="cart-form">
      <%= render "cart/form", cart: cart %>
    </div>

    <hr />

    <div class="row justify-content-end">
      <div class="col-md-4 col-lg-2">
        <%= link_to "Checkout", checkout_path, class: 'btn btn-lg btn-primary btn-block' %>
      </div>
    </div>
  <% end %>
</div>
