<div class="container">
  <% if cart.empty? %>
    Your Shopping Cart is empty.
  <% else %>
    <%= render "cart/form", cart: cart %>

    <hr />

    <%= link_to "Checkout", checkout_path, class: 'btn btn-primary' %>
  <% end %>
</div>
