<div class="container">
<p class="small text-center step">Step 4 of 4</p>
  <h1 class="page-title">Enter your shipping details</h1>  
  <%= render "orders/form", order: @order, address: @address %>
</div>
