<div class="jumbotron jumbotron-fluid" id="hero">
  <div class="container" id="hero-content">
    <%= image_tag("supermeme.png", :alt => "supermeme logo", :class => "logo" ) %>
    <h1>Get your amazing Supermeme T-shirt today</h1>
    <%= link_to "Create", designs_new_path, :class =>"btn btn-primary" %>

  </div>
</div>

<h1>Hello world</h1>
<%= link_to "Create your design", designs_new_path %>
