/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";

$supreme-red: #D82122;

@import "home";
@import "designs";

$red: #D82122;

nav {
  background-color: $supreme-red;
}

.btn-supreme {
  &:link, &:visited, &:hover, &:active {
    color:#FDFFFC;
    background-color: $supreme-red;
    border-color: $supreme-red;
  }
}

form {
  label.required {
    abbr {
      text-decoration: none;
      color: $supreme-red;
    }
  }
}

img {
  max-width: 100%;
}

table.cart {
  td {
    vertical-align: middle;
  }
}

footer {
  background-color: black;
  color:darkgray;
}
