/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";
@import "font-awesome";

$supreme-red: #d82122;
$text-color: #212529;

@import "typography";

@import "home";
@import "designs";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
}

nav {
  background-color: $supreme-red;

  .nav-link {
    font-weight: 500;
  }
}

ul {
  list-style-position: inside;
}

a {
  color: $supreme-red;
  &:hover {
    color: darken($supreme-red, 10%);
  }
}

footer {
  margin-top: 2rem;
  text-align: center;
  background-color: $text-color;
  color: darkgray;

  .logo {
    height: 3rem;
  }

  a {
    color: lightgray;
    &:hover {
      color: white;
    }

  }
  .social-media {
    font-size: 2rem;
    line-height: 3rem;

    a {
      margin: 0 0.5rem;
    }
  }
  @media screen and (min-width: 576px) {
    text-align: left;
    .social-media {
      text-align: right;
      a:last-child {
        margin-right: 0;
      }
    }
  }
}

.btn-supreme {
  &,
  &:link,
  &:visited,
  &:hover,
  &:focus {
    @include supreme;
    color: #fdfffc;
    background-color: $supreme-red;
    border-color: $supreme-red;
  }
}

form {
  label.required {
    abbr {
      text-decoration: none;
      color: $supreme-red;
    }
  }
}

img {
  max-width: 100%;
}

.text-muted {
  a {
    color: #6c757d;
  }
}

.cart {
  td {
    vertical-align: middle;
  }

  #quantity {
    max-width: 8rem;
  }

  .description {
    text-align: center;

    @media screen and (min-width: 576px) {
      text-align: left;
    }
  }

  .price {
    text-align: right;
  }
}

.icons {
  i.fa {
    font-size: 2rem;
    margin: 0 0.5rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.logo {
  transition: all 0.2s;
  &:hover {
    transform: rotate(-5deg) scale(1.1);
  }
}
