//Hero
#hero {
  background: image-url("hero-small.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

  @media only screen and (min-width: 1200px) {
    background-image: image-url("hero.jpg");
  }

  h1 {
    color: white;
    padding: 3rem 0;
    margin: 0;
  }

  .logo {
    width: 400px;
  }
}

//Who we are section
#who-are-we {
  margin: 4rem 0 6rem 0;
  display: flex;
  align-items: center;
  section {
    margin-bottom: 4rem;
  }
  @media only screen and (min-width: 1200px) {
    margin: 6rem 0 8rem 0;

  }
}

.parallax {
  background: image-url("parallax1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;

  @media only screen and (min-width: 1200px) {
    background-attachment: fixed;
  }
}

#how-we-work {
  margin: 6rem 0 4rem;
  text-align: center;

  img {
    max-width: 100%;
  }

  h1 {
    padding-bottom: 40px;
  }

  h4 {
    margin: 15px 0px;
  }

  .oi {
    font-size: 32px;
    color: $supreme-red;
  }
}

.process-card {
  padding: 1rem 0.5rem;
}
