<footer class="page-footer font-small blue pt-4">
  <div class="container text-center">
  <p><%= link_to image_tag("supermeme.png", :alt => "Supermeme logo", :width => 200), root_path %></p>
  <p class="small"><%= copyright_message.html_safe %></p>
  </div>
</footer>
