<table id="size-chart" class="table table-striped table-sm">
<!--Table head-->
  <thead>
    <tr>
      <th>Size</th>
      <th>Chest to fit</th>
    </tr>
  </thead>
  <!--Table head-->
  <!--Table body-->
  <tbody>
    <tr>
      <td>XS</td>
      <td>31" - 34"</td>
    </tr>
     <tr>
      <td>S</td>
      <td>34" - 37"</td>
    </tr>    <tr>
      <td>M</td>
      <td>38" -41"</td>
    </tr>    <tr>
      <td>L</td>
      <td>42" - 45"</td>
    </tr>    <tr>
      <td>XL</td>
      <td>46" - 49"</td>
    </tr>    <tr>
      <td>2XL</td>
      <td>50" - 53"</td>
  </tbody>
  <!--Table body-->
</table>

