<p class="icons">
  <%= fa_icon("cc-visa", "title": "VISA") %>
  <%= fa_icon("cc-mastercard", title: "Mastercard") %>
  <%= fa_icon("cc-amex", title: "American Express") %>
  <%= fa_icon("cc-stripe", "title": "Stripe") %>
</p>
